<h4><b>Add New Task</h4></p>
<table class="table table-bordered">
<%= form_for [@list, @list_item] do |f| %>
	<tr>
		<td>
  <div class="field newtaskform">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div></td>
  <td><div class="field newtaskform">
    <%= f.label :priority %><br />
    <%= f.select :priority, [['High', 'High'], ['Medium', 'Medium'], ['Low', 'Low']] %>
  </div></td>
 <td><div class="field newtaskform">
    <%= f.label :deadline %><br />
    <%= f.text_field :deadline %>
  </div></td>
  <td><div class="actions">
    <%= f.submit "Add Task", class: "btn btn-primary" %>
  </div></td>
</tr>
<% end %>
</table>
<br />

