<div class="page">
	<section class="page-section">
		<header class="page-section-header">
  		<h1 id="title"><%= @list.title %></h1>
		</header>
			<div class="list-view">
	
				<%= render 'showtasks' %>
	
				<%= render 'newitem' %>
			</div>
		</section>
	</div>
	
<div class="list-footer">
	<%= link_to 'Rename List', edit_list_path(@list) %> |
	<%= link_to 'View My Lists', lists_path %> | <%= link_to 'My Completed Tasks', completed_path(current_user) %>
</div>
