<h3 class="edit-task">Edit "<%= @list_item[:task] %>"</h3>
<table class="table table-bordered edit-table">
<%= form_for [@list, @list_item] do |f| %>
	<tr>
		<td>
  <div class="field edit-task-form">
    <%= f.label :task %><br />
    <%= f.text_field :task %>
  </div></td>
  <td><div class="field edit-task-form">
    <%= f.label :priority %><br />
    <%= f.select :priority, [['High', 'High'], ['Medium', 'Medium'], ['Low', 'Low']] %>
  </div></td>
 <td><div class="field edit-task-form">
    <%= f.label :deadline %><br />
    <%= f.text_field :deadline %>
  </div></td>
  <td><div class="actions">
    <%= f.submit "Update Task", class: "btn btn-primary" %>
  </div></td>
</tr>
</table>
<% end %>