<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		 <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/redmond/jquery-ui.css", "application" %>
		<%= csrf_meta_tag %>
	  <title>To Do</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.js" %>
	  <%= csrf_meta_tags %>
</head>
<body>
	
		<%= render 'layouts/header' %>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
		
</body>
</html>
